html {
  font-family: "Roboto Slab", sans-serif;
}

body {
  margin: 0;
}

.d-none.d-none {
  display: none;
}

a {
  color: #018ad2;
}

a:hover {
  color: #c00;
}

.header {
  position: sticky;
  top: 0;
  height: 64px;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 640px) {
  .header {
    height: 42px;
  }
}
.header__inner {
  display: flex;
  align-items: center;
  padding: 0 114px;
  max-width: 1400px;
  width: 100%;
}
@media screen and (max-width: 996px) {
  .header__inner {
    padding: 64px;
  }
}
@media screen and (max-width: 640px) {
  .header__inner {
    padding: 12px;
  }
}
.header__title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
@media screen and (max-width: 640px) {
  .header__title {
    display: none;
  }
}
.header__logo {
  margin: 0;
}
.header__tel {
  margin-left: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}
@media screen and (max-width: 640px) {
  .header__tel {
    display: none;
  }
}
.header__btn {
  margin-left: 32px;
}
@media screen and (max-width: 640px) {
  .header__btn {
    margin-left: auto;
  }
}

.btn {
  background: #278eed;
  border: 1px solid #278eed;
  border-radius: 20px;
  padding: 20px;
  color: white;
  cursor: pointer;
  transition: all 1s ease;
}

.btn_large {
  font-size: 18px;
  padding: 20px;
  width: 100%;
}

.btn_small {
  font-size: 14px;
  padding: 4px 30px;
}

.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 880px;
  box-sizing: border-box;
  background-image: url(../images/bg.png);
  background-size: cover;
  background-color: royalblue;
  background-position-x: 50%;
  height: calc(100vh - 64px);
  padding: 16px;
  padding-top: 133px;
}

.first-section__header {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 58px;
  text-align: center;
  margin: 0;
}

.first-section__text {
  max-width: 572px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 52px;
}

.first-section__btn-wrap {
  width: 100%;
  max-width: 372px;
  box-sizing: border-box;
}

@media screen and (max-width: 640px) {
  .first-section {
    height: calc(100vh - 42px);
  }
}
@media screen and (max-width: 360px) {
  .first-section__header {
    font-size: 26px;
    line-height: 40px;
  }
  .first-section__text {
    font-size: 20px;
    line-height: 34px;
  }
}
.second-section {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  background: #f3f4f6;
  padding: 95px 110px 54px;
}

@media screen and (max-width: 996px) {
  .second-section {
    flex-direction: column;
  }
}
.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 5%;
}

.advantage__color-header_red, .advantage__color-header_yellow, .advantage__color-header_green {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.advantage__color-header_green {
  color: #24ba96;
}

.advantage__color-header_yellow {
  color: #f0a900;
}

.advantage__color-header_red {
  color: #ff6577;
}

.advantage__text {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #111827;
  max-width: 240px;
  margin: 0;
}

.advantage__img {
  max-width: 173px;
  max-height: 165px;
  width: 100%;
  height: auto;
}

.contacts__title {
  text-align: center;
  margin: 96px;
}
.contacts__form {
  display: inline-flex;
  max-width: 672px;
  background-color: #f3f4f6;
  border-radius: 20px;
  padding: 40px;
}
.contacts__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contacts__block {
  margin-top: 192px;
  max-width: 512px;
}
.contacts__block-name {
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-left: 128px;
}
.contacts__phone {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin-left: 128px;
  display: block;
  margin-bottom: 12px;
}
.contacts__email {
  color: black;
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-left: 128px;
  margin-bottom: 12px;
}
.contacts__img {
  position: relative;
  top: -55px;
  width: 100%;
  object-fit: cover;
}

.form {
  max-width: 474px;
  margin: auto;
}
.form__item-add {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 50px;
  margin-top: 43px;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.form__btn {
  padding: 11px 93px;
  font-size: 16px;
  margin-bottom: 48px;
}
.form__item-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6b7280;
}
.form__wrapper {
  display: inline-flex;
}
.form__checkbox {
  height: 13px;
}

.form__fieldset {
  border: none;
  outline: none;
}
.form__fieldset-top {
  padding-bottom: 44px;
}
.form__fieldset-label {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}
.form__fieldset-input {
  height: 54px;
  width: 100%;
  border: 1px solid #9ca3af;
  background: transparent;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  padding: 16px;
  outline: none;
}
.form__fieldset-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #9ca3af;
}
.form__fieldset-input:focus {
  border-color: rgba(87, 87, 255, 0.8);
  transition: all 0.5s ease;
}
.form__fieldset_error .form__fieldset-input {
  border: red 1px solid;
}
.form__fieldset-error-text {
  color: red;
  margin-top: 4px;
  font-size: 8px;
  opacity: 0;
}
.form__fieldset_error .form__fieldset-error-text {
  opacity: 1;
}
.form__fieldset-textarea {
  height: 54px;
  width: 100%;
  border: 1px solid #9ca3af;
  background: transparent;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  padding: 16px;
  resize: vertical;
  outline: none;
}

/*# sourceMappingURL=index.css.map */
