.contacts {
  &__title {
    text-align: center;
    margin: 96px;
  }
  &__form {
    display: inline-flex;
    max-width: 672px;
    background-color: #f3f4f6;
    border-radius: 20px;
    padding: 40px;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__block {
    margin-top: 192px;
    max-width: 512px;

    &-name {
      color: black;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      margin-left: 128px;
    }
  }
  &__phone {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    margin-left: 128px;
    display: block;
    margin-bottom: 12px;
  }
  &__email {
    color: black;
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-left: 128px;
    margin-bottom: 12px;
  }
  &__img {
    position: relative;
    top: -55px;
    width: 100%;
    object-fit: cover;
  }
}
.form {
  max-width: 474px;
  margin: auto;

  &__item-add {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 50px;
    margin-top: 43px;
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
  }
  &__btn {
    padding: 11px 93px;
    font-size: 16px;
    margin-bottom: 48px;
  }
  &__item-content {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6b7280;
  }
  &__wrapper {
    display: inline-flex;
  }
  &__checkbox {
    height: 13px;
  }
}

.form__fieldset {
  border: none;
  outline: none;


  &-top {
    padding-bottom: 44px;
  }
  &-label {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
  }
  &-input {
    height: 54px;
    width: 100%;
    border: 1px solid #9ca3af;
    background: transparent;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    padding: 16px;
    outline: none;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #9ca3af;
    }
    &:focus {
      border-color: rgba(87, 87, 255, 0.8);
      transition: all 0.5s ease;
    }
  }

  &_error &-input {
    border: red 1px solid;
  }

  &-error-text {
    color: red;
    margin-top: 4px;
    font-size: 8px;
    opacity: 0;
  }

  &_error &-error-text {
    opacity: 1;
  }


  
  &-textarea {
    height: 54px;
    width: 100%;
    border: 1px solid #9ca3af;
    background: transparent;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    padding: 16px;
    resize: vertical;
    outline: none;
  }
}
