
.first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 880px;
    box-sizing: border-box;
    background-image: url(../images/bg.png);
    background-size: cover;
    background-color: royalblue;
    background-position-x: 50%;
    height: calc(100vh - $header-height-desktop);
    padding: 16px;
    padding-top: 133px;
  }
  
  .first-section__header {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 58px;
    text-align: center;
    margin: 0;
  }
  
  .first-section__text {
    max-width: 572px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 52px;
  }
  
  .first-section__btn-wrap {
    width: 100%;
    max-width: 372px;
    box-sizing: border-box;
  }
  
  @media screen and (max-width: 640px) {
    .first-section {
      height: calc(100vh - $header-height-mobile);
    }
  }
  
  @media screen and (max-width: 360px) {
    .first-section__header {
      font-size: 26px;
      line-height: 40px;
    }
    .first-section__text {
      font-size: 20px;
      line-height: 34px;
    }
  }