@mixin for-640 {
    @media screen and (max-width: 640px) { @content; }
}
  

.header {
  position: sticky;
  top: 0;
  height: $header-height-desktop;
  background-color: #f3f4f6;

  display: flex;
  justify-content: center;
  align-items: center;

  @include for-640 {
    height: $header-height-mobile;
  }

  &__inner {
    display: flex;
    align-items: center;
    padding: 0 114px;
    max-width: 1400px;
    width: 100%;

    @media screen and (max-width: 996px) {
      padding: 64px;
    }

    @include for-640 {
      padding: 12px;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #000000;

    @include for-640 {
      display: none;
    }
  }

  &__logo {
    margin: 0;
  }

  &__tel {
    margin-left: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
    @include for-640 {
      display: none;
    }
  }

  &__btn {
    margin-left: 32px;
    @include for-640 {
      margin-left: auto;
    }
  }
}