.second-section {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  background: #f3f4f6;
  padding: 95px 110px 54px;
}

@media screen and (max-width: 996px) {
  .second-section {
    flex-direction: column;
  }
}

.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 5%;
}

%advantage__color-header {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.advantage__color-header_green {
  @extend %advantage__color-header;
  color: #24ba96;
}

.advantage__color-header_yellow {
  @extend %advantage__color-header;
  color: #f0a900;
}

.advantage__color-header_red {
  @extend %advantage__color-header;
  color: #ff6577;
}

.advantage__text {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #111827;
  max-width: 240px;
  margin: 0;
}

.advantage__img {
  max-width: 173px;
  max-height: 165px;
  width: 100%;
  height: auto;
}
