html {
  font-family: "Roboto Slab", sans-serif;
}

body {
  margin: 0;
}

.d-none.d-none {
  display: none;
}

a {
  color: #018ad2;
}

a:hover {
  color: #c00;
}

@import './varibles';
@import "./header";
@import './common/button';
@import './first-section';
@import './second-section';
@import './contacts';
