
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(./OpenSans-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(./OpenSans-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(./OpenSans-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}
