.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px;
    /* animation: fade-in 1s ease .1s infinite; */
}

.btn {
    padding:  16px 50px;
    border: 0;
    background-color: blue;
    color: white;
    transition: all .275s;
    margin-left: 12px;
    border-radius: 12px;
    border: red solid 1px;
}

.btn:hover {
    background-color: rgb(0, 0, 127);
    color: brown;
}

.btn-to-right {
    transform: translateX(600px);
    /* margin-left: 600px; */
    transition:  margin-left 10s cubic-bezier(0, 0, 1, 1);
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: rotate(0deg);
    }
    to {
        opacity: 1;
        transform: rotate(360deg);
    }
}

.svg {
    stroke-dashoffset: 600;
    stroke-dasharray: 600;
    border: red solid 1px;
    transition: ease 1s;
}

.svg:hover {
    stroke-dashoffset: 0;
    stroke-dasharray: 600;
}
