.btn {
  background: #278eed;
  border: 1px solid #278eed;
  border-radius: 20px;
  padding: 20px;
  color: white;
  cursor: pointer;
  transition: all 1s ease;
}

.btn_large {
  font-size: 18px;
  padding: 20px;
  width: 100%;
}

.btn_small {
  font-size: 14px;
  padding: 4px 30px;
}
